.row{
    margin-left:20px;
    color:#fff;
}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.poster{
    cursor:pointer;
    max-height: 250px;
    margin-right: 10px;
}

.smallposter{
    cursor:pointer;
    max-height: 100px;
}
.poster:hover{
    transform: scale(1.1);
}